<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<header class="header">
    <div class="container flex header-container">
        <a href="#" class="header-menu">
            Назад
        </a>
<!--        <a href="../doctor/doctormain.html" class="header-name">-->
<!--            Фамилия Имя Отчество-->
<!--        </a>-->
    </div>
</header>
<main>
    <div class="container">
<!--        <p class="back">-->
<!--        <a href="/" class="arrow">-->
<!--            Назад-->
<!--        </a>-->
<!--        </p>-->
        <table class="table">
            <tr>
                <td>День недели</td>
                <td>Bремя</td>
                <td>Кабинет</td>
            </tr>
            <tr>
                <td>Понедельник</td>
                <td>09:00-21:00</td>
                <td>309</td>
            </tr>
            <tr>
                <td>Bторник</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Среда</td>
                <td>09:00-21:00</td>
                <td>309</td>
            </tr>
            <tr>
                <td>Четверг</td>
                <td>09:00-21:00</td>
                <td>309</td>
            </tr>
            <tr>
                <td>Пятница</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Суббота</td>
                <td>09:00-21:00</td>
                <td>309</td>
            </tr>
            <tr>
                <td>Воскресенье</td>
                <td>09:00-21:00</td>
                <td>309</td>
            </tr>
        </table>
    </div>
</body>
</html>