<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale-1.0">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<main>
    <div class="vhod-container">
        <div class="vhod-form">
            <form method="POST">
              <div class="vhod-lable-div">
            <label class="vhod-lable">Bход</label>
              </div>
              <div class="control">
            <input name="login" type="phone" class="form-control" placeholder="Bведите логин">
              </div>
              <div class="control">
            <input name="password" type="password" class="form-control" placeholder="Bведите пароль">
              </div>
            <input type="submit" value="Готово" class="vhod-button">
            </form>
        </div>
        
    </div>
</main>
</body>
</html>